@use 'variables' as v;

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 0;
} 

.main {
  height: 100vh;
  display: grid;
  place-items: center;
  &__button {
    transition: .2s linear;
    font-size: v.$fz-body;
    &:hover {
      transition: .2s linear;
      transform: scale(1.05);
      box-shadow: 0px 5px 55px 11px rgba(0, 255, 202, 0.2);
    } 
  }
}

.border-gradient {
  color: white;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #00ffca, #01dc84);
  padding: 7px 12px;
  cursor: pointer;
  background-color: #18181b;
}

.todolist {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin: 30px auto 0;
  max-width: 600px;
  &__title {
    font-size: v.$fz-heading;
  }
  &__form {
    display: flex;
    gap: 5px;
    &__input {
      padding: 5px 20px;
      border-radius: 2px;
      font-family: inherit;
      font-size: v.$fz-little;
      outline: 0;
      border: none;
    }
  }
  &__tasks {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: v.$fz-little - 3px;
  margin: 10px 15px 0;
  padding: 5px 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 11px;
  justify-content: space-between;
  transition: .3s linear;
  color: black;
  &:hover {
    transition: .3s linear;
    background-color: rgb(219, 217, 217);
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &-title {
      text-decoration: line-through;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &-edit {
      background-color: #a2c9c1;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      color: white;
      font-family: inherit;
      border-radius: 10px;
      transition: .2s linear;
      &:hover {
        opacity: 0.9;
        background-color: #54bda8;
        transition: .2s linear;
      }
    }
    &-remove {
      background-color: rgb(201, 176, 176);
      border: none;
      padding: 10px 15px;
      font-family: inherit;
      cursor: pointer;
      color: white;
      border-radius: 10px;
      transition: .2s linear;
      &:hover {
        opacity: 0.9;
        background-color: rgb(212, 88, 88);
        transition: .2s linear;
      }
    }
  }
  &__modal {
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    opacity: 0.9;
    border-radius: 5px;
    top: 45%;
    left: 15%;
    color: white;
    max-width: 400px;
    width: 100%;
    height: 200px;
    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      &__title {
        font-family: inherit;
        font-size: v.$fz-body;
      }
      &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        &__button {
          background-color: #54bda8;
          border: none;
          padding: 10px 15px;
          cursor: pointer;
          color: white;
          font-family: inherit;
          border-radius: 10px;
          transition: .2s linear;
          &:hover {
            background-color: #3db19a;
          }
        }
        &__input {
          margin-top: 30px;
          outline: 0;
          border: none;
          border-radius: 5px;
          font-family: inherit;
          padding: 10px 15px;
          background-color: white;
        }
      }
    }
    &__close {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: 0;
      background-color: transparent;
      &--icon {
        color: rgb(201, 79, 79);
        cursor: pointer;
      }
    }
  }
}

.ui-button {
  border-radius: 2px;
  border:#00ffca 1px solid; ;
  color: white;
  padding: 5px 10px;
  font-family: inherit;
  background-color: #18181b;
  font-size: v.$fz-little;
  cursor: pointer;
  transition: .2s linear;
  &:hover {
    transition: .2s linear;
    background-color: #0c0c0d;
  }
}
